.breadcrumbs {
  margin-top: 80px;
  padding-bottom: 27px;
  color: #9a9a9a;
  font-size: 14px;
}

.breadcrumbs__list {
  
  display: flex;
}

.breadcrumbs__link--active {
font-weight: bold;
}

.breadcrumbs__item::after {
content: " / ";
margin-right: 0.3em;
}

.breadcrumbs__item:last-child:after {
  content: "";
}
