.footer {
    padding-bottom: 42px;
    margin-top: 50px;

  }
  
  .footer__container { 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
  .footer.border {
    padding-top: 0;
  }
  .footer.border .container {
    
    border-top: 2px solid rgba(255, 255, 255, .1);
  }
  

  
  .social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .social__item {
    margin-right: 10px;
  }
  
  .social__item:last-child {
    margin-right: 0px;
  }
  
  .contacts {
    font-style: normal;
  }
  
  .contacts__description {
    color: #9a9a9a;
    font-size: 11px;
    line-height: 20px;
    text-align: end;
  }

 