.offers {
    margin-top: 235px;
}

.offers__list {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
}

.offer__item {

    width: calc(100%/3 - 18px);
    max-width: 362px;
    max-height: 476px;
    background: #fff;
    color: #303030;
    border-radius: 5px;
    padding-top: 36px;
    padding-right:  34px;
    padding-bottom: 100px;
}

.offer__content {

    margin-top: 30px;

}
.offer__image {
    padding-left: 27px;
}
.offer__header {
    font-size: 32px;
    font-weight: 700;
    color: #000;
    padding-left: 22px;
}

.offer__terms {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;    
}
.offer__term:last-child {
    margin-left: 70px;
}


.offer__term {
    display: inline-block;
    vertical-align: middle;

    font-size: 16px;
    line-height: 18px;
    color: #666666;
    
}

.offer__desc {
    margin-bottom: 24px;
    /* color: #303030; */
    font-size: 14px;
    line-height: 21px;
    margin-left: 20px;
    margin-top: 20px;
}
.offer__button {
    margin-left: 25px;
    margin-top: 40px;
    
}